[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2024/5-grading-tests.git
[submodule "5-pepeclub"]
	path = 5-pepeclub
	url = git@github.com:spbu-coding-2024/5-pepeclub.git
[submodule "5-K0tB0ris"]
	path = 5-K0tB0ris
	url = git@github.com:spbu-coding-2024/5-K0tB0ris.git
[submodule "5-vvmaksim"]
	path = 5-vvmaksim
	url = git@github.com:spbu-coding-2024/5-vvmaksim.git
[submodule "5-Drenger"]
	path = 5-Drenger
	url = git@github.com:spbu-coding-2024/5-Drenger.git
[submodule "5-MaksimGSI"]
	path = 5-MaksimGSI
	url = git@github.com:spbu-coding-2024/5-MaksimGSI.git
[submodule "5-AlexandrGorbunov564"]
	path = 5-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/5-AlexandrGorbunov564.git
[submodule "5-Stepiiiiiiik"]
	path = 5-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/5-Stepiiiiiiik.git
[submodule "5-Nasty12121"]
	path = 5-Nasty12121
	url = git@github.com:spbu-coding-2024/5-Nasty12121.git
[submodule "5-Ganesha1967"]
	path = 5-Ganesha1967
	url = git@github.com:spbu-coding-2024/5-Ganesha1967.git
[submodule "5-epishkin06"]
	path = 5-epishkin06
	url = git@github.com:spbu-coding-2024/5-epishkin06.git
[submodule "5-ivanovm-main"]
	path = 5-ivanovm-main
	url = git@github.com:spbu-coding-2024/5-ivanovm-main.git
[submodule "5-ilq1"]
	path = 5-ilq1
	url = git@github.com:spbu-coding-2024/5-ilq1.git
[submodule "5-NIcolaiKl"]
	path = 5-NIcolaiKl
	url = git@github.com:spbu-coding-2024/5-NIcolaiKl.git
[submodule "5-pechenb"]
	path = 5-pechenb
	url = git@github.com:spbu-coding-2024/5-pechenb.git
[submodule "5-fUS1ONd"]
	path = 5-fUS1ONd
	url = git@github.com:spbu-coding-2024/5-fUS1ONd.git
[submodule "5-VladislavLoikov"]
	path = 5-VladislavLoikov
	url = git@github.com:spbu-coding-2024/5-VladislavLoikov.git
[submodule "5-ilyamaltsev05"]
	path = 5-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/5-ilyamaltsev05.git
[submodule "5-RomanMaltsev"]
	path = 5-RomanMaltsev
	url = git@github.com:spbu-coding-2024/5-RomanMaltsev.git
[submodule "5-DaryaNechaeva"]
	path = 5-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/5-DaryaNechaeva.git
