[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2024/5-grading-tests.git
[submodule "5-pepeclub"]
	path = 5-pepeclub
	url = git@github.com:spbu-coding-2024/5-pepeclub.git
[submodule "5-K0tB0ris"]
	path = 5-K0tB0ris
	url = git@github.com:spbu-coding-2024/5-K0tB0ris.git
[submodule "5-vvmaksim"]
	path = 5-vvmaksim
	url = git@github.com:spbu-coding-2024/5-vvmaksim.git
[submodule "5-Drenger"]
	path = 5-Drenger
	url = git@github.com:spbu-coding-2024/5-Drenger.git
[submodule "5-MaksimGSI"]
	path = 5-MaksimGSI
	url = git@github.com:spbu-coding-2024/5-MaksimGSI.git
[submodule "5-AlexandrGorbunov564"]
	path = 5-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/5-AlexandrGorbunov564.git
[submodule "5-Stepiiiiiiik"]
	path = 5-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/5-Stepiiiiiiik.git
[submodule "5-Nasty12121"]
	path = 5-Nasty12121
	url = git@github.com:spbu-coding-2024/5-Nasty12121.git
[submodule "5-Ganesha1967"]
	path = 5-Ganesha1967
	url = git@github.com:spbu-coding-2024/5-Ganesha1967.git
[submodule "5-epishkin06"]
	path = 5-epishkin06
	url = git@github.com:spbu-coding-2024/5-epishkin06.git
[submodule "5-ivanovm-main"]
	path = 5-ivanovm-main
	url = git@github.com:spbu-coding-2024/5-ivanovm-main.git
[submodule "5-ilq1"]
	path = 5-ilq1
	url = git@github.com:spbu-coding-2024/5-ilq1.git
[submodule "5-NIcolaiKl"]
	path = 5-NIcolaiKl
	url = git@github.com:spbu-coding-2024/5-NIcolaiKl.git
[submodule "5-pechenb"]
	path = 5-pechenb
	url = git@github.com:spbu-coding-2024/5-pechenb.git
[submodule "5-fUS1ONd"]
	path = 5-fUS1ONd
	url = git@github.com:spbu-coding-2024/5-fUS1ONd.git
[submodule "5-VladislavLoikov"]
	path = 5-VladislavLoikov
	url = git@github.com:spbu-coding-2024/5-VladislavLoikov.git
[submodule "5-ilyamaltsev05"]
	path = 5-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/5-ilyamaltsev05.git
[submodule "5-RomanMaltsev"]
	path = 5-RomanMaltsev
	url = git@github.com:spbu-coding-2024/5-RomanMaltsev.git
[submodule "5-DaryaNechaeva"]
	path = 5-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/5-DaryaNechaeva.git
[submodule "5-End0ra"]
	path = 5-End0ra
	url = git@github.com:spbu-coding-2024/5-End0ra.git
[submodule "5-XRenso"]
	path = 5-XRenso
	url = git@github.com:spbu-coding-2024/5-XRenso.git
[submodule "5-MickeyPashaev"]
	path = 5-MickeyPashaev
	url = git@github.com:spbu-coding-2024/5-MickeyPashaev.git
[submodule "5-vlapugb"]
	path = 5-vlapugb
	url = git@github.com:spbu-coding-2024/5-vlapugb.git
[submodule "5-ArsenijRomanov"]
	path = 5-ArsenijRomanov
	url = git@github.com:spbu-coding-2024/5-ArsenijRomanov.git
[submodule "5-semrosin"]
	path = 5-semrosin
	url = git@github.com:spbu-coding-2024/5-semrosin.git
[submodule "5-neepii"]
	path = 5-neepii
	url = git@github.com:spbu-coding-2024/5-neepii.git
[submodule "5-Egorkayka"]
	path = 5-Egorkayka
	url = git@github.com:spbu-coding-2024/5-Egorkayka.git
[submodule "5-TheFollan"]
	path = 5-TheFollan
	url = git@github.com:spbu-coding-2024/5-TheFollan.git
[submodule "5-lospollosenjoyer"]
	path = 5-lospollosenjoyer
	url = git@github.com:spbu-coding-2024/5-lospollosenjoyer.git
[submodule "5-VladimirKhmelev"]
	path = 5-VladimirKhmelev
	url = git@github.com:spbu-coding-2024/5-VladimirKhmelev.git
[submodule "5-Daniil-Chepurnikh"]
	path = 5-Daniil-Chepurnikh
	url = git@github.com:spbu-coding-2024/5-Daniil-Chepurnikh.git
[submodule "5-talubik"]
	path = 5-talubik
	url = git@github.com:spbu-coding-2024/5-talubik.git
[submodule "5-Nickovlev"]
	path = 5-Nickovlev
	url = git@github.com:spbu-coding-2024/5-Nickovlev.git
